# Server
MODE=debug
ADDRESS=0.0.0.0:8443

GITHUB_TOKEN=
HMAC_SECRET=

# Repositories (comma-separated, format: owner/repo@branch)
REPOSITORIES=otto-wagner/github-observer@main

# Executors (comma-separated, allowed: metrics)
EXECUTORS=metrics

# Watcher
WATCHER_ENABLED=true
WATCHER_GITHUB_TOKEN=$GITHUB_TOKEN

# Listener
LISTENER_ENABLED=true
LISTENER_HMAC_SECRET=$HMAC_SECRET
