# Server
MODE=debug
ADDRESS=0.0.0.0:8443

# App – Repositories (comma-separated, format: owner/repo@branch)
APP_REPOSITORIES=otto-wagner/github-observer@main

# App – Executors (comma-separated, allowed: metrics)
APP_EXECUTORS=metrics

# App – Watcher
APP_WATCHER_ENABLED=true
APP_WATCHER_GITHUBTOKEN=

# App – Listener
APP_LISTENER_ENABLED=true
APP_LISTENER_HMAC_SECRET=
